#user {
    border: 3px solid #183e19;
    background: #0972a5;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
}

#position {
    position: relative;
    top: 25px;
    left: 25px;
}

#user_picture {
    border: 1px solid black;
    float: left;

}