#user {
    margin-left: 2%;
    width: 18%;

    float: left;

    border: 3px solid #183e19;
    background: #0972a5;
    float:left;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;

    height: 186px;

    text-align: center;
    line-height: 186px;
}