body {
    color: #2D353D;
    font: 12pt "Liberation Sans";
}

html {
    background: #1a1a1a;
}

#logo, #navbar {
    text-decoration: none;
}

#lsidebar,
#maincontent {
    padding: 5px;
}

#event-buttons {
    display: none;
}

a {
    color: #492387;
}

a:visited {
    color: #373066;
}

img {
    border-style: none;
}

div {
}

#mainheader {
    overflow: hidden;
    width: 386px;
}

#mainheader,
#user {
    background: url("../images/Header-gradient.png") repeat-x;
    height: 50px;
}

#user {
    margin:  0;
    text-align: right;
    height: 50px;
}

#maincontent {
    width: 739px;
    padding: 5px;
}

table,
td,
tr {
    border: none;
}

#position {
    position: relative;
    top: 25px;
    left: 25px;
}

#user_picture {
    border: 1px solid black;
    float: left;

}

#topnavbar {
    margin-top: 0;
}

.yuimenuitem {
    border: none;
}

.yui-skin-sam .yuimenubaritemlabel {
    border: none;
}

.yuimenuitemlabel,
.yuimenubaritemlabel {
    color: #bebabc;
}

.yuimenubaritem,
.yuimenubaritem-selected {
}

.yui-menu-shadow-visible {
    visibility: hidden;
}

#hd {
    margin: 0;
    margin-bottom: 10px;

}

#ft {
    padding-left: 20px;
    margin-top: 0;
    font-size: 61%;
}

#lsidebar {
    background: rgba(166, 33, 193, 0.5);
    width: 300px;
    margin: 10px;
    height: 100%;
    padding: 10px;
}

#doc3 {
    margin: 0;
}

#container {
    width: 300px;
}

#bd,
#ft {
    background: #1a1a1a;
    color: #ededed;
}

#bd a,
#ft a {
    color: #EDD0F9;
}

#bd a:visited,
#ft a:visited {
    color: #F3EBF5;
}