body {
  color: #bebabc;
  font: 12pt "Liberation Sans";
}

html {
    background: #1a1a1a url("../images/gradient.png") repeat-x;
}

#logo, #navbar {
    color: #bebabc;
    text-decoration: none;
}

.yui-u {
    background-color: #0972a5;

    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;

    border: 3px solid #183e19;
}

#event-buttons {
    display: none;
}

h1 {
    font-size: 150%;
}

a {
    color: #183e19;
}

a:visited {
    color: #112c12;
}

img {
    border-style: none;
}

hr {
    border-top: 1px solid #183e19;
    border-bottom: 1px solid #183e19;
    width: 100%;
    height: 2px;
    margin: 10px auto 0 0;
    text-align: left;

}

#ft {
    background-color: #0972a5;

    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;

    border: 3px solid #183e19;

}

.date {
    background: url("../images/date-gradient.png") no-repeat top right;
    height: 50px;

    border: 3px solid #183e19;
    margin-right: 10px;
}

.event {
    background-color: #FF7518;
    height: 50px;

    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;

    border: 3px solid #183e19;
    margin-right: 10px;
}

div {
    padding: 5px;
}

#mainheader,
#user {
    height: 220px;
}

table,
td,
tr {
    border: none;
}