a.button {
    border-radius: 36px;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    -khtml-border-radius: 36px;
    
    vertical-align: center; 
    
    background-color: #1A1A1A;
    
}

a.button_active {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.15, #1A1A1A),
        color-stop(0.8, #0B3F6F)
    );
    
    background-image: -moz-linear-gradient(
        center bottom,
        #1A1A1A 15%,
        #0B3F6F 80%
    );
}


