$header-footer-bg: #00498f
$bg: #1a1a1a
$text-color: #bebabc

#header 
  background-image: url('../images/gradient-background.png') repeat-x

.center 
  vertical-align: center


body 
  background-color: $bg
  color: $text-color
  font: 12pt "Calibri"
  color: #E5E1DE


#footer 
  width: 80%   
  text-align: center
  color: $header-footer-bg


.roundcorners 
  border-top-left-radius: 100px 50px
  border-top-right-radius: 100px 50px
  border-bottom-left-radius: 100px 50px
  border-bottom-right-radius: 100px 50px

