<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>

        <meta name="language" content="en">
	    <meta http-equiv="Content-Language" content="en">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>{{ title }}</title>

        {# visual stylesheets #}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css">

        {# font includes #}
        <link href="http://kernest.com/fonts/liberation-sans-regular.css" media="screen" rel="stylesheet" type="text/css" />
	    <link href="http://kernest.com/fonts/liberation-sans-bold.css" media="screen" rel="stylesheet" type="text/css" />
	    <link href="http://kernest.com/fonts/liberation-sans-italic.css" media="screen" rel="stylesheet" type="text/css" />
	    <link href="http://kernest.com/fonts/liberation-sans-bold-italic.css" media="screen" rel="stylesheet" type="text/css" />


    </head>

    <body>
        <div id="header">
            <div id="mainheader">
                <img src="{{ MEDIA_URL }}images/Hamster-logo.png" alt="The logo. It is a nerdy hamster." class="center"/>
				<h1 class="inline">Bellingham Tech Events</h1>
             </div>

            <div id="user">
                {% if loggedin %}
                	<img src="{{ user_img }}" class="center">
					Hello, <a href="http://www.bhamtechevents.org/users/{{ user.username }}">{{ user.first_name }}</a>.
					<br>
					(Not {{ name }}? Then click <a href="http://www.bhamtechevents.org/logout">here</a>.)
				{% else %}
					<a href="http://www.bhamtechevents.org/login">Log in</a> or <a href="http://www.bhamtechevents.org/register">register</a>.
				{% endif %}

            </div>
        </div>

        <div id="content">
            <div id="lsidebar" class="grid_1 ">

            </div>

            <div id="maincontent" >

            </div>

            <div id="rsidebar">

            </div>
        </div>

        <div id="footer">
            <div id="bottom">

            </div>
        </div>
    </body>
</html>

