{% load webdesign %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en-US">
    <head>

        <meta name="language" content="en">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>{{ title }}</title>

        <!-- Individual YUI CSS files -->
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/yui/2.8.2r1/build/reset-fonts-grids/reset-fonts-grids.css">
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/yui/2.8.2r1/build/base/base-min.css">
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/yui/2.8.2r1/build/assets/skins/sam/skin.css">
        <!-- Individual YUI JS files -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.8.2r1/build/utilities/utilities.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.8.2r1/build/container/container-min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.8.2r1/build/menu/menu-min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.8.2r1/build/event-mouseenter/event-mouseenter-min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.8.2r1/build/selector/selector-min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.8.2r1/build/event-delegate/event-delegate-min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.8.2r1/build/button/button-min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.8.2r1/build/calendar/calendar-min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.8.2r1/build/slider/slider-min.js"></script>

         {# visual stylesheets #}
        {% if not user.is_authenticated %}
            <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/loggedout.css">
        {% endif %}

        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css">
        <link href="{{ MEDIA_URL }}css/menu.css">

        {# font includes #}
        <link href="http://kernest.com/fonts/liberation-sans-regular.css" media="screen" rel="stylesheet" type="text/css">
	    <link href="http://kernest.com/fonts/liberation-sans-bold.css" media="screen" rel="stylesheet" type="text/css">
	    <link href="http://kernest.com/fonts/liberation-sans-italic.css" media="screen" rel="stylesheet" type="text/css">
	    <link href="http://kernest.com/fonts/liberation-sans-bold-italic.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://kernest.com/fonts/linux-libertine-small-caps.css" media="screen" rel="stylesheet" type="text/css" />

     	<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

        <!--[if lt IE 9]><script type="text/javascript" src="{{ MEDIA_URL }}js/excanvas.compiled.js"></script><![endif]-->
        <script src="{{ MEDIA_URL }}js/jquery.tagcanvas.min.js" type="text/javascript"></script>

    	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/superfish.css" media="screen">
		<script type="text/javascript" src="{{ MEDIA_URL }}js/hoverIntent.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/superfish.js"></script>
        <script type="text/javascript">
            jQuery(function(){
                jQuery('ul.sf-menu').superfish();
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function() {
                if( ! $('#tagcloud').tagcanvas({
                    textColour : '#ededed',
                    outlineThickness : 1,
                    maxSpeed : 0.03,
                    depth : 0.75
                  })) {
                    // TagCanvas failed to load
                    $('#myCanvasContainer').hide();
                }
            });
        </script>
    </head>

    <body id="doc3" class="yui-skin-sam">
        <div id="hd" class="yui-gc">
            <div id="mainheader" class="yui-u first">
                    <a href="/" id="logo">
                        <img src="{{ MEDIA_URL }}images/Logo.png" alt="Bellingham Tech Events">
                    </a>
            </div>

            <div id="user" class="yui-u">
		<ul class="sf-menu">
			<li class="current">
				<a href="/">Home</a>
			</li>

			<li>
				<a href="#">Events</a>
				<ul>
					<li>
						<a href="/events/browae">Browse Events</a>
					</li>
					<li>
						<a href="/events/add">Add an Event</a>
					</li>
				</ul>
			</li>

			<li>
				<a href="#">Venues</a>
				<ul>
					<li>
						<a href="/venues/browae">Browse Venues</a>
					</li>
					<li>
						<a href="/venues/add">Add a Venue</a>
					</li>
				</ul>
			</li>
		</ul>

            {% if user.is_authenticated %}
                <div id="position">
             	    <img src="{{ user.img }}" id="user_picture">
                    <p>
	    		    	Hello, <a href="/users/{{ user.username }}">{{ user.first_name }}</a>.
	    		    	<br>
		    	    	(Not {{ user.first_name }}? Then click <a href="/logout">here</a>.)
                    </p>
                </div>

			{% else %}
				<a href="/login">Log in</a> or <a href="/register">register</a>.
			{% endif %}
            </div>

            <br>
        </div>

        <div class="yui-gd" id="bd">
            <div class="yui-u first" id="container">
                <div id="lsidebar">
                    {% block lsidebar %}
                        <h3>Oh, hello! I didn't see you there.</h3>
                        <p>
                            <em>Bellingham Tech Events</em> (or BhamTechEvents for short) is a unified calender for you to find fun technology groups and events.
                        </p>
                        <p>
                            We are an all-volunteer group, and we encourage anyone involved with a group to add it in here, but keep in mind, you will have to keep it updated, so if the group skips a meeting, you won't have disappointed potential members.
                        </p>
                        <h3>Follow upcoming events:</h3>
                        <ul>
                            <li><a href="/feeds/ical">iCal calendar</a> </li>
                            <li><a href="/feeds/atom" >Atom feed</a></li>
                            <li><a href="/feeds/rss" >RSS feed</a></li>
                            <li><a href="http://www.twitter.com/bhamtechevents">Twitter feed</a></li>

                        </ul>
                        </div>
                        <canvas width="300" height="300" id="tagcloud">
                            <p>I'm sorry, but your browser does not support the &lt;canvas&gt; tag, meaning that this tagcloud will not work. Please upgrade to a better browser, such as Firefox, or Google Chrome.</p>
                            <ul>
                                {% for tag in tags %}
                                    <li><a href="/events/bytag/{{ tag.name }}">{{ tag.name }}</a></li>
                                {% endfor %}
                                    <li>Tag</li>
                            </ul>
                        </canvas>
                    {% endblock %}
                <p></p>
            </div>

            <div id="maincontent" class="yui-u table-cell" >
                {% block maincontent %}
                    <h3>What's going on?</h3>
                    {% for day in week %}
                        <div class="day">
                            <h4>{{ day.date|naturalday:"l" }}</h4>
                            {{ day.date|date:"F d, Y" }}
                        </div>
                        {% for event in day.event %}
                            <div class="event">
                                <a href="/events/view/{{ event.id }}">{{ event.name|title }}</a>
                                <br>
                                {{ event.starttime|date:"g:i a" }}-{{ event.endtime|date:"g:i a" }}
                                <a href="/venues/view/{{ event.location.id }}">{{ event.location.name|title }}</a>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
                <p></p>
            </div>
        </div>

        <div id="ft">
            <div id="bottom">
                <p>
                Code, logo and design © 2010-2011 <a href="http://www.trueblogtales.com">Hayes Williams</a>
                <br>
                "Dr. Hamsano" mascot © 2010 Michael Kaplan
                <br>
                Liberation fonts are used under the <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU GPL</a> and are © 2007-2010 <a href="http://www.redhat.com/">Red Hat, inc</a>.
                <br>
                <a href="http://kernest.com">Fonts via Kernest</a>
                </p>
            </div>
        </div>
    </body>
</html>

