{% block header %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ title }}</title>

<link href="{{ MEDIA_URL }}css/main.css" rel="Stylesheet" type="text/css" />

<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" />
<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/dot-luv-grinder/jquery-ui.css" type="text/css" rel="Stylesheet" />


<script type="application/javascript" src="{{ MEDIA_URL }}js/superfish.js" />
<script type="appication/javascript" src="{{ MEDIA_URL }}js/hoverIntent.js" />
<link rel="stylesheet" media="screen" href="{{ MEDIA_URL }}css/superfish.css" /> 
<link rel="stylesheet" media="screen" href="{{ MEDIA_URL }}css/superfish-navbar.css" />
<script type="application/javascript"> 
    $(document).ready(function(){ 
        $("ul.sf-menu").superfish({ 
            pathClass:  'current' 
        }); 
    }); 
</script>

<!-- SWFObject embed by Geoff Stearns geoff@deconcept.com http://blog.deconcept.com/swfobject/ -->
<script type="text/javascript" src="swfobject.js"></script>


<link href="{{ MEDIA_URL }}wmd/wmd-minified.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}wmd/showdown-minified.js"      />
<script type="text/javascript" src="{{ MEDIA_URL }}wmd/wmd-minified.js"           />

</head>
<body>
-
		<table class="center">
					<tr>
						<td>
							<img src="{{ MEDIA_URL }}images/Hamster-logo.png" alt="The logo. It is a nerdy hamster."/>
						</td>
						<td>
							<div id="name">
								<h1>B'ham Tech Events</h1>
							</div>
							<br />
							A place to discover tech events in and around  Bellingham, Washington.
						</td>
					</tr>
				</table>

{% endblock %}

{% block tagcloud %}
<div id="flashcontent">
	<a href="http://www.adobe.com/go/getflashplayer">
		<img src="http://www.adobe.com/images/shared/download_buttons/get_adobe_flash_player.png" alt="Get Adobe Flash Player">
	</a>
</div>
<script type="text/javascript">
	var so = new SWFObject("{{ MEDIA_URL }}tagcloud.swf", "tagcloud", "600", "400", "7", "#ffffff");
	so.addParam("wmode", "transparent");
	so.addVariable("tcolor", "0x50C878");
	so.addVariable("tcolor2", "0xc8c8c8");
	so.addVariable("hicolor", "0xc85e50");
	so.addVariable("tspeed", "75");
	so.addVariable("distr", "true");
	so.addVariable("xmlpath", "tagcloud.xml");
	so.write("flashcontent");
</script>
{% endblock %}