.header {
	background-color: #8C3D45;
	border:           5px solid #E5E1DE;
	color:            #E5E1DE;
	text-align:       center;
	font-style:       bold;
	font-size:        125%;
	width:            80%;
	margin-left:   auto;
	margin-right:  auto;
	border-spacing: 35%;
}

table.center {
	margin-left:   auto;
	margin-right:  auto;
}

.name {
	font-style: italic;
	font-size: 200%;
	
}

body {
	background-color: #594B42;
}

.footer {
	background-color: #8C3D45;
	border:           5px solid #E5E1DE;
	color:            #E5E1DE;
	text-align:       center;
	border-spacing: 35%;
}

.preview {
	background-color: #8C3D45;
	border:           5px solid #E5E1DE;
	color:            #E5E1DE;
	border-spacing: 35%;
}