<table>
	<tr>
		<td>
			<input type="radio" name="freq" value="daily" id="freq_0" />Daily
		</td>
		<td>
			<input type="radio" name="freq" value="weekly" id="freq_1" />Weekly
		</td>
	</tr>
	<tr>
		<td>
			<input type="radio" name="freq" value="monthy" id="freq_2" />Monthly
		</td>
		<td>
			<input type="radio" name="freq" value="annually" id="freq_3" />Annually
		</td>
	</tr>
</table>

  <div id="daily" style="display:none;" >
	Occurs every <input name="interval" type="text" value="days_interval" size="2" /> day&#40;s&#41;.
	</div>
	<div id="weekly" style="display:none;">
	Occurs every <select name="weekday">
		<option>Monday</option>
		<option>Tuesday</option>
		<option>Wednesday</option>
		<option>Thursday</option>
		<option>Friday</option>
		<option>Saturday</option>
		<option>Sunday</option>
		</select>
	</div>
	<div id="monthly" style="display:none;">
	Occurs on the <select name="month_week">
		<option>1st</option>
		<option>2nd</option>
		<option>3rd</option>
		<option>4th</option>
	</select> 
	<select name="month_weekday">
		<option>Monday</option>
		<option>Tuesday</option>
		<option>Wednesday</option>
		<option>Thursday</option>
		<option>Friday</option>
		<option>Saturday</option>
		<option>Sunday</option>
		</select>
		of every <input name="week_interval" type="text" value="week_interval" size="2" default="1" /> week(s).
	</div>
	<div id="annually" style="display:none;">
	Occurs on the <select name="year_week">
		<option>1st</option>
		<option>2nd</option>
		<option>3rd</option>
		<option>4th</option>
	</select> 
	<select name="year_weekday">
		<option>Monday</option>
		<option>Tuesday</option>
		<option>Wednesday</option>
		<option>Thursday</option>
		<option>Friday</option>
		<option>Saturday</option>
		<option>Sunday</option>
		</select>
	 of 
	<select name="year_month">
		<option>January</option>
		<option>February</option>
		<option>March</option>
		<option>April</option>
		<option>May</option>
		<option>June</option>
		<option>July</option>
		<option>August</option>
		<option>September</option>
		<option>October</option>
		<option>November</option>
		<option>December</option>
		</select>
	</div>